ul
  list-style: none

header
  display: flex
  flex-direction: row
  background-color: #000000
  position: fixed
  width: 100%
  justify-content: space-around

  a
    text-decoration: none
    color: white
    padding: 15px
    margin: 5px
    border-radius: 10px
    background-color: #222222EE

.NavBar
  width: 100%
  max-width: 1250px
  margin: auto
  display: flex
  flex-direction: column
  justify-content: space-around

.topNav
  display: flex
  margin: auto
ul
  justify-content: center
  padding: 10px
  text-decoration: none
  list-style: none
  gap: 15px
li
  font-weight: 600
  font-size: 16px
  text-decoration: none
  padding: 5px
  width: 75px

footer
  position: fixed
  bottom: 0
  width: 100%
  background-color: #333
  color: #fff
  padding: 10px
  text-align: center

html
  background-color: black

.home_body
  color: white
  height: 100vh
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  background-image: url('homepage.jpg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.welcome
  max-width: 50%

.Login
  text-align: center
  color: white
  text-decoration: none
  button
    padding: 0px
    margin: 0px
    background-color: #00000000
    border: none
    img
      border-radius: 14px
      width: 12rem
      height: 6rem
  h2
    text-decoration: none
    a
      text-decoration: none
      color: white
      background-color: #222222EE
      border-radius: 5px
      padding: 10px

.registro
  background-image: url('registro.jpg')
  background-size: contain
  background-repeat: no-repeat
  height: 100vh
  text-align: center
  vertical-align: middle

.about
  background-image: url('aboutus.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 80vh
  color: black
  padding-inline: 70px
  justify-items: center
  align-items: center

.catalog
  color: white

  background-size: cover
  background-repeat: no-repeat
